header {
    margin-bottom: 100px;
}
header nav a.nav-link {
    position: relative;
}
header nav a.nav-link span.cart-notify {
    position: absolute;
    left: 3px;
    background: #ff0000;
    font-size: 10px;
    color: #ffff;
    padding: 4px;
    line-height: 7px;
    border-radius: 10px;
    top: 6px;
}