header {
    margin-bottom: 15px;
    height: 90px;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
}

header .greetings {
    z-index: 1031;
    top: 0;
    height: 35px;
    background: #323232;
}
header .account-nav a {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin: 5px 6px 0;
    text-decoration: none;
    position: relative;
}
header .account-nav a span.cart-notify {
    position: absolute;
    left: 4px;
    background: #ff0000;
    font-size: 10px;
    color: #ffff;
    padding: 4px;
    line-height: 7px;
    border-radius: 10px;
    top: 0px;
}
header + section {
    margin-top: 150px;
}
.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}