body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg.svg-inline--fa.fa-star, .svg-inline--fa.fa-star-half-stroke  {
  color: #e94000;
}
.product a {
  text-decoration: none;
}
.product .reviews {
  font-size: 14px;
}
.product .card-title {
  min-height: 4rem;
  font-size: 1rem;
}

.carousel-container .carousel-slides {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all .5s ease;
}

.pdp-image .mini-slides {
  max-width: 100px;
  height: auto;
  width: auto;
  padding: 5px;
  display: block;
  float: left;
  box-sizing: border-box;
}
.pdp-image .mini-slides:hover {
  border: 3px solid #f0ad4e;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
}
.pdp-image .mini-slides img {
  width: 100%;
  max-width: 100px;
}

.cart select.form-control {
  padding: 5px!important;
  width: 40px;
  text-align: center;
  border: 1px solid #55595c;
  margin: auto;
}
.cart .col-md-8 .row {
  background: #e1e1e1;
  border-radius: 5px;
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
}

.cart .col-md-8 .row a {
  text-decoration: none;
}
.cart svg.svg-inline--fa.fa-trash-can {
  cursor: pointer;
}
.cart svg.svg-inline--fa.fa-trash-can:hover {
  color: #d9534f;
}


.modal form .form-control {
  border: 1px solid #c3c3c3;
}
span.form-link {
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
span.form-link:hover {
  color: #0e0e0e;
}
svg.svg-inline--fa.fa-rectangle-xmark {
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 20px;
}
@media(min-width: 992px){
  .product .card-img-top {
    max-height: 175px;
  }
  .cart .col-md-8 .row img.img-fluid {
    border-radius: 75px;
    width: 75px;
    height: 75px;
    border: 1px solid #939393;
  }
}